<!DOCTYPE html>
<html>
    <head>
        <title>Models and Rest APIs on AngularJS with Restangular</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/prism.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
    <article>
      <section data-bespoke-state="start">
        <div class="content">
          <div class="unbrokenline"></div>
          <h1>Models and Rest APIs on AngularJS with Restangular</h1>
          <div class="byline">
            <div class="classy">
              by Martin Gontovnikas
            </div>
          </div>
          <h3>@mgonto</h3>
        </div>
      </section>

      <section data-bespoke-state="developer">
        <div class="content">
          <div class="byline">
            <div class="classy">
              I am a
            </div>
          </div>
          <h2>software developer</h2>
          <div class="byline">
            <div class="classy">
              from Buenos Aires, Argentina
            </div>
          </div>
        </div>
      </section>
      
      <section data-bespoke-state="steamclock">
        <div class="content">
          <div class="byline">
            <div class="classy">
              currently employed by 
            </div>
          </div>
          <h3>Aquicore Inc.</h3>
          <div class="byline">
            <div class="classy">
              making stuff happen
            </div>
          </div>
        </div>
      </section>

      <section data-bespoke-state="js">
        <div class="content">
          <div class="byline">
            <div class="classy">
              doing 
            </div>
          </div>
          <h3>Javascript</h3>
          <div class="byline">
            <div class="classy">
              most of my day <3
            </div>
          </div>
        </div>
      </section>
      
      <section data-bespoke-state="programming">
        <div class="content"></div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              this talk is about
            </div>
          </div>
          <h3>Models & REST APIs</h3>
          <div class="byline">
            <div class="classy">
              with Restangular
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>So Let's start</h3>
        </div>
      </section>
      
      <section data-bespoke-state="longtimeago">
        <div class="content">
        </div>
      </section>

      <section>
        <div class="content">
          <h2>I decided to learn Angular</h2>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>So I followed some of the cool tutorials that existed</h2>
        </div>
      </section>


      <section data-bespoke-state="livecode">
        <div class="content">
          <div data-angular-app="helloWorld">
            <span>Enter your name</span>
            <input type="text" ng-model="person" value="" />
            <p class="hello">Hello <span class="result">{{person}}</span></p>
          </div>
          <pre><code class="language-markup">&lt;input type=&quot;text&quot; ng-model=&quot;person&quot; value=&quot;&quot; /&gt;
&lt;span&gt;Hello &#123;&#123;person&#125;&#125; &lt;/span&gt;</code></pre>
          
        </div>
      </section>

      <section data-bespoke-state="proud">
        <div class="content">
        </div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              so I told my boss
            </div>
          </div>
          <h3>I know AngularJS</h3>
          <div class="byline">
          </div>
        </div>
      </section>

      <section data-bespoke-state="kungfu">
        <div class="content">
        </div>
      </section>
      
      <section data-bespoke-state="cd">
        <div class="content">

        </div>
      </section>
      
      <section>
        <div class="content">
          <h2>AngularJS has $resource for this</h2>
        </div>
      </section>
      
      <section>
        <div class="content">
          <h2>Let's use it</h2>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content">
          <p>Let's fetch an user</p>
          <pre><code class="language-javascript">var User = $resource('/api/v1/user/:userId', {userId:'@id'});
var user = User.get({userId:123}, function() {
  user.name = 'Gonto';
  user.$save();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre><code class="language-javascript">var Car = $resource('/api/v1/user/:userId/cars/:carId',
 {userId:123, carId:'@id'});
 
 var cars = Car.query(function() {
   var firstCar = cars[0];
   firstCar.name = "Honda Fit";
   firstCar.$save();
 });</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>Let's fetch an user</p>
          <pre data-line="1"><code class="language-javascript">var User = $resource('/api/v1/user/:userId', {userId:'@id'});
var user = User.get({userId:123}, function() {
  user.name = 'Gonto';
  user.$save();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre><code class="language-javascript">var Car = $resource('/api/v1/user/:userId/cars/:carId',
 {userId:123, carId:'@id'});
 
 var cars = Car.query(function() {
   var firstCar = cars[0];
   firstCar.name = "Honda Fit";
   firstCar.$save();
 });</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>Let's fetch an user</p>
          <pre  data-line="2-4"><code class="language-javascript">var User = $resource('/api/v1/user/:userId', {userId:'@id'});
var user = User.get({userId:123}, function() {
  user.name = 'Gonto';
  user.$save();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre><code class="language-javascript">var Car = $resource('/api/v1/user/:userId/cars/:carId',
 {userId:123, carId:'@id'});
 
 var cars = Car.query(function() {
   var firstCar = cars[0];
   firstCar.name = "Honda Fit";
   firstCar.$save();
 });</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>Let's fetch an user</p>
          <pre><code class="language-javascript">var User = $resource('/api/v1/user/:userId', {userId:'@id'});
var user = User.get({userId:123}, function() {
  user.name = 'Gonto';
  user.$save();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre data-line="1-2"><code class="language-javascript">var Car = $resource('/api/v1/user/:userId/cars/:carId',
 {userId:123, carId:'@id'});
 
 var cars = Car.query(function() {
   var firstCar = cars[0];
   firstCar.name = "Honda Fit";
   firstCar.$save();
 });</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>Let's fetch an user</p>
          <pre><code class="language-javascript">var User = $resource('/api/v1/user/:userId', {userId:'@id'});
var user = User.get({userId:123}, function() {
  user.name = 'Gonto';
  user.$save();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre data-line="4-8"><code class="language-javascript">var Car = $resource('/api/v1/user/:userId/cars/:carId',
 {userId:123, carId:'@id'});
 
 var cars = Car.query(function() {
   var firstCar = cars[0];
   firstCar.name = "Honda Fit";
   firstCar.$save();
 });</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="notcool">
        <div class="content">
          <h2>$resource thinks models aren't related</h2>
        </div>
      </section>
      
      <section data-bespoke-state="notcool">
        <div class="content">
          <h2>It doesn't handle nested RESTFul Resources</h2>
        </div>
      </section>
      
      <section data-bespoke-state="notcool">
        <div class="content">
          <h2>We can't add configurations per resource agroupation</h2>
        </div>
      </section>

      <section data-bespoke-state="notcool-joey">
        <div class="content">
        </div>
      </section>

      <section>
        <div class="content">
          <h2 class="black-text">This is what I needed</h2>
          <img src="img/classdiagram.png" />
        <!--
        [User]<>-*>[Car]
        [Car]<>-*>[Mechanic]
        [Mechanic]<>-*>[Providers]
        [User]<>-*>[Profile]
        [Profile]<>-*>[Role]
        [Mechanic]<>-1>[Boss]
        [User|+name;+age;+phone]
        [Car|+make;+model;+year;+maxFuel;+currentFuel;]
        -->
        </div>
      </section>

      <section>
        <div class="content">
          <h2 class="black-text">This is what I got</h2>
          <img src="img/cdbroken.png" />
        </div>
      </section>

      <section data-bespoke-state="facepalm">
        <div class="content">
        </div>
      </section>
      
      
      
      <section data-bespoke-state="bat-signal">
        <div class="content">
          <div class="unbrokenline"></div>
          <h2>Restangular-Signal</h2>
          <div class="byline">
          <div class="classy">
            I'm Restangulaaar
          </div>
        </div>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content">
          <p>First we configure it</p>
          <pre data-line="1"><code class="language-javascript">RestangularProvider.setBaseUrl('/api/v1')</code></pre>
          
          <p>Let's fetch an user</p>
          <pre><code class="language-javascript">Restangular.one('user', 123).get().then(function(user) {
  $scope.user = user;
  user.name = 'Gonto';
  user.put();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre><code class="language-javascript">$scope.user.getList('cars').then(function(cars) {
  var firstCar = cars[0];
  firstCar.name = "Honda Fit";
  firstCar.put();
  cars.post({name: 'New Model Extra Cool'});
});</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>First we configure it</p>
          <pre><code class="language-javascript">RestangularProvider.setBaseUrl('/api/v1')</code></pre>
          
          <p>Let's fetch an user</p>
          <pre data-line="1"><code class="language-javascript">Restangular.one('user', 123).get().then(function(user) {
  $scope.user = user;
  user.name = 'Gonto';
  user.put();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre><code class="language-javascript">$scope.user.getList('cars').then(function(cars) {
  var firstCar = cars[0];
  firstCar.name = "Honda Fit";
  firstCar.put();
  cars.post({name: 'New Model Extra Cool'});
});</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>First we configure it</p>
          <pre><code class="language-javascript">RestangularProvider.setBaseUrl('/api/v1')</code></pre>
          
          <p>Let's fetch an user</p>
          <pre data-line="2-4"><code class="language-javascript">Restangular.one('user', 123).get().then(function(user) {
  $scope.user = user;
  user.name = 'Gonto';
  user.put();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre><code class="language-javascript">$scope.user.getList('cars').then(function(cars) {
  var firstCar = cars[0];
  firstCar.name = "Honda Fit";
  firstCar.put();
  cars.post({name: 'New Model Extra Cool'});
});</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>First we configure it</p>
          <pre><code class="language-javascript">RestangularProvider.setBaseUrl('/api/v1')</code></pre>
          
          <p>Let's fetch an user</p>
          <pre><code class="language-javascript">Restangular.one('user', 123).get().then(function(user) {
  $scope.user = user;
  user.name = 'Gonto';
  user.put();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre data-line="1"><code class="language-javascript">$scope.user.getList('cars').then(function(cars) {
  var firstCar = cars[0];
  firstCar.name = "Honda Fit";
  firstCar.put();
  cars.post({name: 'New Model Extra Cool'});
});</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>First we configure it</p>
          <pre><code class="language-javascript">RestangularProvider.setBaseUrl('/api/v1')</code></pre>
          
          <p>Let's fetch an user</p>
          <pre><code class="language-javascript">Restangular.one('user', 123).get().then(function(user) {
  $scope.user = user;
  user.name = 'Gonto';
  user.put();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre data-line="2-4"><code class="language-javascript">$scope.user.getList('cars').then(function(cars) {
  var firstCar = cars[0];
  firstCar.name = "Honda Fit";
  firstCar.put();  
  cars.post({name: 'New Model Extra Cool'});
});</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>First we configure it</p>
          <pre><code class="language-javascript">RestangularProvider.setBaseUrl('/api/v1')</code></pre>
          
          <p>Let's fetch an user</p>
          <pre><code class="language-javascript">Restangular.one('user', 123).get().then(function(user) {
  $scope.user = user;
  user.name = 'Gonto';
  user.put();
});</code></pre>
          
          <p>Let's now fetch his Cars</p>
          <pre data-line="5"><code class="language-javascript">$scope.user.getList('cars').then(function(cars) {
  var firstCar = cars[0];
  firstCar.name = "Honda Fit";
  firstCar.put();  
  cars.post({name: 'New Model Extra Cool'});
});</code></pre>
        </div>
      </section>
      
      <section>
        <div class="content">
          <h2>You can navigate your hierarchies using all and one</h2>
        </div>
      </section>
      
      <section data-bespoke-state="code long">
        <div class="content">
          <pre><code class="language-javascript">Restangular.all('users').one('car', 123).get();
Restangular.allUrl('users', 'http://example.com/users').all('messages').getList();
Restangular.one('users', 123).all('cars').getList();
$scope.user.all('cars').getList();</code></pre>
        </div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              Now, we have all of our
            </div>
          </div>
          <h3>Models</h3>
          <div class="byline">
            <div class="classy">
              and their
            </div>
          </div>
          <h3>Data</h3>
          <div class="byline">
            <div class="classy">
              but what about
            </div>
          </div>
          <h3>Adding behaviour?</h3>
          <div class="byline" />
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <p>I saw tutorials doing:</p>
          <!-- <div>
  <input type="button" ng-click="goTo(car, china)" value="click here to use your car"/> 
  <input type="text" ng-model="amount" placeholder="Fuel to charge" /><input type="button" ng-click="chargeFuel(car, amount)" value="Click here to charge fuel" />
</div> -->
          <pre data-line="2, 6"><code class="language-markup">&lt;div&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;goTo(car, china)&quot; value=&quot;Go to China&quot;/&gt; 
  
  &lt;input type=&quot;text&quot; ng-model=&quot;amount&quot; placeholder=&quot;Fuel to charge&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;chargeFuel(car, amount)&quot; value=&quot;Charge fuel&quot; /&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content nofade">
          <p>This is what I propose</p>
          <!-- <div>
  <input type="button" ng-click="goTo(car, china)" value="click here to use your car"/> 
  <input type="text" ng-model="amount" placeholder="Fuel to charge" /><input type="button" ng-click="chargeFuel(car, amount)" value="Click here to charge fuel" />
</div> -->
          <pre data-line="2, 6"><code class="language-markup">&lt;div&gt;
  &lt;input type=&quot;button&quot; ng-click=&quot;car.goTo( china)&quot; value=&quot;Go to China&quot;/&gt; 
  
  &lt;input type=&quot;text&quot; ng-model=&quot;amount&quot; placeholder=&quot;Fuel to charge&quot; /&gt;

  &lt;input type=&quot;button&quot; ng-click=&quot;car.chargeFuel(amount)&quot; value=&quot;Charge fuel&quot; /&gt;
&lt;/div&gt;</code></pre>
        </div>
      </section>

      <section>
        <div class="content">
          <h2>We can easily do that with Restangular</h2>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content">
          <p>The simpler way</p>
          <pre><code class="language-javascript">Restangular.extendModel('cars', function(car) {
  car.chargeFuel = function(amount) {
    car.fuel = car.fuel + 1;
  }

  // ...

  car.goTo = function(place) {
    return car.consumeFuel(car.consumptionPerKm * place.distance);
  }

  return car;
});</code></pre>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content">
          <p>Working with Prototypes</p>
          <pre><code class="language-javascript">Restangular.extendModel('cars', function(car) {
  return Car.extend(car);
});</code></pre>
          <pre><code class="language-javascript">module.factory('Car', function(Extender) {
  function Car() {

  }

  Car.prototype.chargeFuel = function(amount) {
    this.fuel = this.fuel + amount;
  }

  Car.extend = Extender.for(Car);

  return Car;
  });</code></pre>
        </div>
      </section>

      <section data-bespoke-state="code long">
        <div class="content">
          <p>Extender</p>
          <pre><code class="language-javascript">module.service('Extender', function() {

  this.extendResult = function(result, clazz, /* constructor args*/) {

    var callArgs = arguments;
    var constructorArgs = Array.prototype.slice.call(callArgs, 2);
    constructor.apply(val, params);

    var Temp = function(){};

    Temp.prototype = constructor.prototype;

    var inst = new Temp;

    var model = constructor.apply(inst, params);

    angular.extend(model, result);
    return model;
  }

  this.processResponse = function(response, constructor) {
    var __this = this;
    if (angular.isArray(response)) {
        var models = [];
        angular.forEach(response, function(object) {
            models.push(__this.extendResult(object, constructor));
        });
        return angular.extend(response, models);
    } else {
        return this.extendResult(jsonResult, constructor);
    }
  }

  this.for = function(constructor) {
    var __this = this;
    return function(response) {
      __this.processResponse(response, constructor)
    };
  }
  });</code></pre>
        </div>
      </section>

    <section data-bespoke-state="spoiler">
      <div class="content">
        
      </div>
    </section>

    <section>
      <div class="content">
        <div class="byline"></div>
        <h3>Angular 2.0 is coming</h3>
        <div class="byline">
          <div class="classy">
            so
          </div>
        </div>
        <h3>Restangular 2.0 is coming</h3>
        <div class="byline"></div>
      </div>
    </section>

    <section data-bespoke-state="code long">
        <div class="content">
          <p>Restangular 2.0 code</p>
          <pre><code class="language-javascript">module.factory('Car', function(Extender) {
  public class Car extend Model {
    constructor() { 
      this.currentSpeed = 25;
    }

    chargeFuel(place){
        this.fuel = this.fuel + amount;
    }
  }

  }

  return Car;
  });</code></pre>
  <pre><code class="language-javascript">Restangular.extendModel('cars', Car); //Uses the class</code></pre>
        </div>
      </section>

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              At this point
            </div>
          </div>
          <h3>I was pretty happy</h3>
          <div class="byline">
            <div class="classy">
              BUT
            </div>
          </div>
          <h3>I still had URLs in the FrontEnd</h3>
        </div>
      </section>


      
      <section>
        <div class="content">
          <h2>What if the element has a link to self?</h2>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content nofade">
          <p>First we configure it</p>
          <pre><code class="language-javascript">RestangularProvider.setRestangularFields({
  selfLink: 'self.href'
})</code></pre>
          
          <p>Let's fetch all users</p>
          <pre data-line="2-4"><code class="language-javascript">Restangular.all('users').getList().then(function(users) {
  // user.self.href is equal to 'http://example.com/users/gonto'
  // This triggers delete to that URL
  users[0].remove()
});</code></pre>
        </div>
      </section>
      
      
      <section>
        <div class="content">
          <h2>Can we configure this further?</h2>
        </div>
      </section>
      
      <section data-bespoke-state="code">
        <div class="content">
          <pre><code class="language-javascript">Restangular.setRestangularFields({
  id: '_id.$oid'
});

Restangular.setResponseInterceptor(function(data, operation, what) {
  stopLoading();
  if (operation == 'getList') {
    return data[what];
  }
  return data;
});

Restangular.setRequestInterceptor(function(elem) {
  startLoading();
  delete elem.extraInfo;
  return elem;
});

Restangular.setMethodOverriders(['put', 'delete']);

Restangular.setRequestSuffix('.json');

Restangular.setErrorInterceptor(function(response) {
  stopLoading();
  displayError();
});</code></pre>
        </div>
      </section>
      
      <section data-bespoke-state="code long">
        <div class="content">
          <p>Scoped configurations</p>
          <pre><code class="language-javascript">var BondRestangular = Restangular.withConfig(function(RestangularConfigurer) {
  RestangularConfigurer.setDefaultHeaders({'X-Auth': 'James Bond'})
});

BondRestangular.one('place', 12).get();</code></pre>
        </div>
      </section>

      <section data-bespoke-state="bond">
        <div class="content">
          
        </div>
      </section>


      
      <section>
        <div class="content">
          <h2>It uses ETags by default. You don't have to worry about this</h2>
        </div>
      </section>
      
      <section>
        <div class="content">
          <h2>It's entirely based on promises</h2>
        </div>
      </section>
      
      <section>
        <div class="content">
          <h2>It supports all HTTP methods including Patch, Trace, etc.</h2>
        </div>
      </section>
      
      <section>
        <div class="content">
          <h2>You can run custom operations on methods</h2>
        </div>
      </section>
      
      <section>
        <div class="content">
          <h2>And more</h2>
        </div>
      </section>
      
      <section data-bespoke-state="bowling">
        <div class="content">
        </div>
      </section>
      
      <section data-bespoke-state="link">
        <div class="content">
          <h3>Check it out at</h3>
          </span><a href="https://github.com/mgonto/restangular">github.com/mgonto/restangular</a>
        </div>
      </section>
      

      <section>
        <div class="content">
          <div class="byline">
            <div class="classy">
              This is the end of the presentation, so
            </div>
          </div>
          <h3>Thank you for listening</h3>
          <div class="byline">
            <div class="classy">
              or at least pretending to
            </div>
          </div>
        </div>
      </section> 
      
      <section>
        <div class="content">
          <h1>Questions?</h1>
        </div>
      </section>
      
      <section data-bespoke-state="the-end">
        <div class="content"></div>
      </section>

      <section data-bespoke-state="final" class="intro">
        <div class="content">
          <div class="byline">
            <div class="classy">
              This has been
            </div>
          </div>
          <h1>Models and Rest APIs on AngularJS with Restangular</h1>
          <div class="byline">
            <div class="classy">
              by Martin Gontovnikas
            </div>
          </div>
          <h3>@mgonto</h3>
          <img src="img/yupi.gif">
        </div>
      </section>

    </article>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Tauri::latin', 'Alegreya:400italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); 
    </script>
    <script src="js/bespoke.js"></script>
    <script src="js/deck.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.bootstrap.js"></script>
    <script src="js/app.basic.js"></script>
    </body>
</html>